<!DOCTYPE html>
<html>
<head>
    <script src="/socket.io/socket.io.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <script src='scripts/socket.js'></script>
    <script src='scripts/renderMains.js'></script>
    <link rel="stylesheet" type="text/css" href="styles/sidebar.css">
    <link rel="stylesheet" type="text/css" href="styles/main.css">
    <link rel="stylesheet" type="text/css" href="styles/profiles.css">
    <link rel="stylesheet" type="text/css" href="styles/chat.css">
</head>
<body>
    <% include sidebar.ejs %>
    <div id='main'>
        <div id='topMain'>
                <img id='profilePicture'src=<%= picture %>>
                <h2 id='username'><%= username %></h2>

            <button id='settings'>SETTINGS</button>
        </div>

        <div id='bio'>
            <h3>BIO</h3>
            <p class='text'>
                <%= bio %>
            </p>
        </div>

    </div>

    <script src='scripts/index.js'></script>
    <script src='scripts/logout.js'></script>
    <script src='scripts/search.js'></script>
    <script src='scripts/settings.js'></script>
</body>
</html>
