<!DOCTYPE html>
<html>
<head>
    <script src="/socket.io/socket.io.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>

</head>
<body>
    <ul id='messages'>
        <% chatLog.forEach(function(item){ %>
            <li><%=item%></li>
        <% }); %>
    </ul>

    <form id="sendMessage">
        <input id='m' type="textfield" />
        <button type="submit">Press</button>
    </form>
    <form id='clear'>
        <button type="submit">Clear</button>
    </form>
    <form method='GET', action='search'>
        <button type="submit">New Search</button>
    </form>
    <script src='scripts/index.js'></script>
</body>
</html>
