<!DOCTYPE html>
<html>
<head>
    <title>login</title>
    <link rel="stylesheet" type="text/css" href="styles/login.css">
</head>
<body>

    <form method='POST', action='/login'>
        <% if(error) %>
        <p style='color:red;'><%= error %></p>
        <p>username</p>
        <input name='username' type='textfield'/>
        <p>password</p>
        <input name='password' type='password'/>
        <div id='buttons'>
            <button type='submit' name='login' value='1'>login</button>
            <button type='submit' name='signup' value='1'>signup</button>
        </div>

    </form>
</body>
</html>
