<!DOCTYPE html>
<html>
<head>
<title>login</title>
</head>
<body>
    <% if(error) %>
    <p><%= error %></p>
    <form method='POST', action='/login'>
        <p>username</p>
        <input name='username' type='textfield'/>
        <p>password</p>
        <input name='password' type='password'/>
        <button type='submit' name='login' value='1'>login</button>
        <button type='submit' name='signup' value='1'>signup</button>
    </form>
</body>
</html>
