<!DOCTYPE html>
<html>
<head>
    <title>signup</title>
    <script src="/socket.io/socket.io.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
</head>
<body>
    <form method='POST', action='/search'>
        <input name=searchQuery type='textfield' />
        <button type='submit'>Search</button>
    </form>
    <% if(userNotFound) {%>
        <p>User Not Found</p>
        <% } %>
    <h3>Friends</h3>
    <ul>
        <% if(friendsList) friendsList.forEach((item) => { %>
            <button class='friend' value=<%= item %>><%= item %></button>


        <% }); %>
    </ul>
    <h3>Friend Requests</h3>
    <ul>
        <% if(friendRequests) friendRequests.forEach((item) => { %>
            <form method='POST', action='acceptRequest'>
                <li><%= item %></li>
                <button name='friend' value=<%= item %> type="submit">Accept</button>
            </form>
        <% }); %>
    </ul>
    <div>
        <ul id='messages'>

        </ul>
        <form id="sendMessage">
            <input id='m' type="textfield" />
            <button type="submit">Press</button>
        </form>
    </div>
    <script src='scripts/openConversation.js'></script>
    <script src='scripts/index.js'></script>
</body>
</html>
