<!DOCTYPE html>
<html>
<head>
    <title>signup</title>
</head>
<body>
    <form method='POST', action='/search'>
        <input name=searchQuery type='textfield' />
        <button type='submit'>Search</button>
    </form>
</body>
</html>
