<!DOCTYPE html>
<html>
<head>
    <title>signup</title>
</head>
<body>
    <form method='POST', action='/search'>
        <input name=searchQuery type='textfield' />
        <button type='submit'>Search</button>
    </form>
    <% if(userNotFound) {%>
        <p>User Not Found</p>
        <% } %>
    <h3>Friends</h3>
    <ul>
        <% if(friendsList) friendsList.forEach((item) => { %>
            <form method='POST' action='/chat'>
                <button type='submit' href='/chat' name='friend' value=<%= item %>><%= item %></a>
            </form>
        <% }); %>
    </ul>
    <h3>Friend Requests</h3>
    <ul>
        <% if(friendRequests) friendRequests.forEach((item) => { %>
            <form method='POST', action='acceptRequest'>
                <li><%= item %></li>
                <button name='friend' value=<%= item %> type="submit">Accept</button>
            </form>
        <% }); %>
    </ul>
</body>
</html>
