<!-- Search Bar -->
<nav id='sidebar'>
    <form id='searchBar'>
        <input id='searchQuery' name=searchQuery type='textfield' />
        <button type='submit'>Search</button>
    </form>
    <!-- Message Notifications  -->
    <h3>Messages</h3>
    <!-- Friend Requests  -->
    <button id='friendRequests'>Friend Requests</button>
    <ul id='requestsList'>
        <li>
            test
        </li>
    </ul>
    <!-- Friend List  -->
    <button id='friends'>Friends</button>
    <ul id='friendsList'>

    </ul>

    <!-- logout  -->
    <form id='logout' method="POST" action='/login'>
        <button type='submit' name='logout' value=true>LOGOUT</button>
    </form>
    <!-- openConversation must be first script as it declares socket = io() -->
    <script src='scripts/openConversation.js'></script>
    <script src='scripts/getFriendRequests.js'></script>
    <script src='scripts/getFriendsList.js'></script>
</nav>
