<!-- Search Bar -->
<nav id='sidebar'>
    <form id='searchBar'>
        <input id='searchQuery' name=searchQuery type='textfield' placeholder="SEARCH"/>
    </form>

    <!-- Message Notifications  -->
    <button id='notifications'>Notifications</button>
    <ul id='notificationsList'>
    </ul>
    <!-- Friend Requests  -->
    <button id='friendRequests'>Friend Requests</button>
    <ul id='requestsList'>
    </ul>
    <!-- Friend List  -->
    <button id='friends'>Friends</button>
    <ul id='friendsList'>

    </ul>

    <!-- logout  -->
        <button id='logout'>LOGOUT</button>
    <!-- openConversation must be first script as it declares socket = io() -->
    <script src='scripts/openConversation.js'></script>
    <script src='scripts/getFriendsList.js'></script>
    <script src='scripts/getFriendRequests.js'></script>
    <script src='scripts/getNotifications.js'></script>
    <script src='scripts/logout.js'></script>
</nav>
