<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="styles/test.css">
    <link rel="stylesheet" type="text/css" href="styles/sidebar.css">
    <link rel="stylesheet" type="text/css" href="styles/main.css">
    <link rel="stylesheet" type="text/css" href="styles/profiles.css">
    <link rel="stylesheet" type="text/css" href="styles/chat.css">
</head>
<body>
    <% include sidebar.ejs %>

    <div id='main'>
        <div id='settingsDiv'>
            <img id='newPic' src='/assets/profilePictures/default.png' />
            <form>
                <input id='pic' type=file  />
                <textarea id='newBio' type=textfield></textarea>
                <button id='saveSettings'>SAVE</button>
            </form>
        </div>
    </div>
</body>
</html>
