html{

}
body {
    background-color: rgb(220,220,220);
    font-family: 'Georgia';
}

#messages {
    overflow: auto;
    height: 100px;
    position: relative;
    bottom:0;
}

#main{
    height: 100%;
}
